<div id="content" class="no-padding">
    <div style="height: 90vh;"
        #leaflet
        leaflet 
        [leafletOptions]="options" 
        [leafletLayersControl]="layersControl"
        [leafletLayers]="layers">
    </div>

    <div style="position: absolute;left: 50px;top: 10px;z-index: 999;">
        <div class="btn-group">
            <select class="btn-group" dropdown="" style="height: 32px;" (change)="showEvents()"
                    [(ngModel)]="selectedActivity"
                    [style.display]="isActivitySelectVisible ? 'block' : 'none'">
                <option *ngFor="let activityType of activityTypes" [ngValue]="activityType">{{activityType.name}}</option>
              </select>
            <a class="btn btn-default" placement="bottom" (click)="start()" [style.display]="isStartVisible ? 'block' : 'none'"><strong><i
                        class="fa fa-play fa-lg text-success"></i></strong></a>
            <a class="btn btn-default" placement="bottom" (click)="stop()" [style.display]="isStopVisible ? 'block' : 'none'"><strong><i
                        class="fa fa-stop fa-lg text-danger"></i></strong></a>
            <a class="btn btn-success" placement="bottom" (click)="save()" [style.display]="isSaveVisible ? 'block' : 'none'"><strong><i
                        class="fa fa-save fa-lg"></i></strong></a>
            <a class="btn btn-danger" placement="bottom" (click)="discard()" [style.display]="isDiscardVisible ? 'block' : 'none'"><strong><i
                class="fa fa-trash-o fa-lg"></i></strong></a>
        </div>
        <div class="text-info"><strong>Total Distance {{(totalDistance/1000).toFixed(2)}} km</strong></div>
        <div class="text-info"><strong>Elapsed Time {{elapsedTime}}</strong></div>
    </div> 
</div>