<div id="content">
    <div class="row">
        <div class="col-sm-4">
            <div class = "input-group">
                <l-select2 [(ngModel)]="ip" 
                            [data]="ipList" [options]="selectOptions"></l-select2>
                <span class = "input-group-btn">
                   <button class = "btn btn-success" type = "button" (click)="fetchCalenderActivities()">
                      Go!
                   </button>
                </span>
            </div>
            <calendar-widget [events]="events"></calendar-widget>
        </div>
        <div class="col-sm-8">
            <div style="height: 500px;"
                leaflet 
                [leafletOptions]="options">
            </div>
        </div>
    </div>
</div>